.link{
    color: rgb(255, 187, 0);;
    
    cursor: pointer;
}
#login{
    padding: 5px;
}
.container{
    background-color: #000000;
    padding-top: 50px;
}
#butGuardar, #butRegistrar{
    background-color: black;
    color:orange;
    font-weight: bold;
    width: 100%;
    border-width: 1px;
    margin-top:10px;
    margin-bottom: 10px;
}
#modal-header{
    width: 100%;
}
#ModalLoginLabel{
    width:90%;
    padding-left: 40%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}
#ModalRegistroLabel{
    width:90%;
    padding-left: 30%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}
.btn-close{
    width: 10%;
}
#butRegistrate{
    width: 100%;
    margin-bottom: 10px;
}

#butRegistrate2{
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

#ModalLogin{
    margin-top:5%;
    width: 35%;
    margin-left:32%;
    

}
#ModalRegistro{
    margin-top:5%;
    width: 35%;
    margin-left:32%;
    
}

#ModalCarritoLabel,#ModalHistorialLabel{
    width:90%;
    padding-left: 30%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}
div{
    margin-bottom: 20px;
}
