.link{
    color: rgb(255, 187, 0);;
    cursor: pointer;
}

#login1{
    padding: 0px;
    margin-right: 0px;
    margin-left: 73px;
}
#login2{
    padding: 0px;
    margin-right: 0px;
    margin-left: 90px;
    margin-top: -65px;
	
}

img{
    margin:10px auto;
	display:block;
    width: 50%;
}

body{
    background-image: url("../imagenes/fondomario.jpg");
    background-size: cover;
}

.container{
    padding-top: 50px;
}

.hola{
    
    margin-top: -50px;
    display: flex;
}

#butAcceder, #butRegistrar{
    background-color: black;
    color:orange;
    font-weight: bold;
    width: 100%;
    border-width: 1px;
    margin-top:10px;
    margin-bottom: 10px;
}

#modal-header{
    width: 100%;
}

#ModalLoginLabel{
    width:90%;
    padding-left: 40%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}

#ModalRegistroLabel{
    width:90%;
    padding-left: 30%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}

.btn-close{
    width: 10%;
}

#butRegistrate2{
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

#ModalLogin{
    margin-top:5%;
    width: 36%;
    margin-left:32%;
    
}

#ModalRegistro{
    margin-top:5%;
    width: 35%;
    margin-left:32%; 
}

#ModalCarritoLabel,#ModalHistorialLabel{
    width:90%;
    padding-left: 30%;
    padding-right: auto;
    color: orange;
    font-weight: bold;
}

div{
    margin-bottom: 20px;
}

.a1{
    font-size: 29px;
}

.menAlerta1{
    color: blueviolet;
    background-color: blueviolet;
}