body {
    background-image: url("../imagenes/fondomario.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    overflow: scroll;
}
.form {
    width: 100%;
    max-width: 650px;
}
.msjstyle {
    border: 2px solid white;
    padding: 20px;
    height: 20px;
    text-align: center;
    line-height: 3px;
    font-size: larger;
    background-color: black;
    font-family: fantasy;
}
label {
    font-family: monospace;
    font-weight: 1000;
}
tbody:hover {
    color: orange;
}